* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(1000px) skewY(0deg) rotateY(0deg);
    width: 240px;
    height: 400px;

    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    border-top: 20px solid #ff6d3f;
    border-bottom: 20px solid #ff6d3f;
    transition: 1s;
}

.center:hover {
    transform: translate(-50%, -50%) perspective(1000px) skewY(15deg) rotateY(5deg);
}

.center::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -80%;
    width: 80%;
    height: calc(100% + 40px);

    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: -27px 0;

    box-sizing: border-box;

    border-top: 20px solid #ff8a65;
    border-bottom: 20px solid #ff8a65;
    border-left: 20px solid #ff8a65;

    box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.1);

    transform: perspective(1000px) skewY(-25deg) rotateY(-90deg);
    transform-origin: right;
    transition: 1s;
}

.center:hover::before {
    transform: perspective(1000px) skewY(-25deg) rotateY(0deg);
}

.center::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -80%;
    width: 80%;
    height: calc(100% + 40px);

    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: -441px 0;

    box-sizing: border-box;

    border-top: 20px solid #ff8a65;
    border-bottom: 20px solid #ff8a65;
    border-right: 20px solid #ff8a65;

    box-shadow: inset 15px 0 15px rgba(0, 0, 0, 0.1);

    transform: perspective(1000px) skewY(-25deg) rotateY(90deg);
    transform-origin: left;
    transition: 1s;
}

.center:hover::after {
    transform: perspective(1000px) skewY(-25deg) rotateY(0deg);
}
